@tailwind base;
@tailwind components;
@tailwind utilities;

.flash {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.flash.notice {
  background-color: #d4edda;
  color: #155724;
}

.flash.alert {
  background-color: #f8d7da;
  color: #721c24;
}

.flash.error {
  background-color: #f8d7da;
  color: #721c24;
}
